# Node.js
node_modules/
.env
npm-debug.log

# Logs
logs/
*.log

# Build
/dist/
/build/

# Vite
/.vite

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
*.swp

# Mac/Windows
.DS_Store
Thumbs.db

# Others
*.bak
*.tmp

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/node_modules/
backend/dist/
backend/data/*.json
